.footer__signature {
    display: flex;
    justify-content: center;
    margin: 0; 
    font-weight: 400;
    font-size: 46px;
    line-height: 16px;
    color: #212121B2;
    max-width: 104px;
  }
  
  .footer {
    padding: 60px 0;
  }